.CalculatorItem {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.CalculatorItem button {
    border-radius: 10px;
    border-style: none;
    font-size: large;
    color: white;
    background-color: #009999;
    padding: 10px;
}

.CalculatorItem p {
    font-size: larger;
}