.Header {
    width: 100%;
    height: 60px;

}

p { 

    color: blueviolet;

}

.link {

}

.info {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}