@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: rgb(67, 196, 157);
    background-size: cover;
    font-size: 25px;
  margin: 0;
  font-family: "Shantell Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
